<div class="container" 
	 data-ng-controller="HousesController" data-ng-init='getHouse();getArea();geoCode("台北");'>
    <div class="header">
		<h3 class="text-muted">實價登錄</h3>
	</div>
    <div class="row">
        <div class="col-xs-6">
            <select ng-disabled="loading" data-ng-model="cityId" name="cityInfo" required="required" data-ng-options="c.Id as c.name for c in infos.cities" class="form-control" ng-change="getHouse();getArea(cityId);flag[flagIndex] = false;searchArea='';areaHouse.length=0;">
            </select>
        </div>
        <div class="col-xs-6">
            <select ng-disabled="loading" data-ng-model="typeId" name="typeInfo" required="required" data-ng-options="c.Id as c.name for c in infos.types" class="form-control" ng-change="getHouse();flag[flagIndex] = false;searchArea='';areaHouse.length=0;">
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="form-inline">
            <div class="form-group col-xs-11">
                <input type="text" class="form-control" ng-model='searchLocation' placeholder="請輸入地址">
            </div>
            <div class="form-group col-xs-1">
                <button ng-disabled="loading" ng-click="geoCode(searchLocation);changeArea(searchLocation);" class="btn btn-primary btn-sm">搜尋</button>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-3 col-md-2" style="margin-top:2px;" ng-repeat="area in locations">
            <button ng-disabled="loading" ng-click="geoCode(area);changeArea(area);" class="btn btn-warning btn-sm">{{ area }}</button>
        </div>
    </div>
    <br>
    <br>
    <div class="alert alert-info" data-ng-show="loading" align="center">
        <img src="https://dl.dropboxusercontent.com/u/46003996/image/ajax-loader.gif" alt="loading">
    </div>

    <google-map center="map.center" zoom="map.zoom" draggable="true">
        <marker coords="marker.coords" idkey="marker.id"></marker>
    </google-map>

    <div data-ng-show="!loading">
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>地址</th>
                    <th>交易日期</th>
                    <th>單價(萬/坪)</th>
                    <th>總價(萬)</th>
                    <th>總面積(坪)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="house in filterArea(houses, searchArea) | limitTo:searchsize.limit" data-hg-init="flag[$index] = false">
                <tr>
                    <td ng-repeat="(key, value) in filterList(house)">
                        {{ value }}
                        <span ng-show="{{key==0}}" ng-click="geoCode(value)" class="glyphicon glyphicon-map-marker"></span>
                    </td>
                    <td>
                        <button ng-click="flag[$index]=!flag[$index];checkFlagIndex($index)" class="btn btn-primary btn-sm">
                            詳細
                        </button>
                    </td>
                </tr>
                <tr ng-show="flag[$index]">
                    <td colspan="6">
                        <br>
                        <table class="table table-striped">
                            <tr ng-repeat="(key, value) in house">
                                <td>{{ key }}</td>
                                <td style="border-left:1px solid #dddddd">{{ value }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" align="center">
                        <pagination total-items="currentHouses()" ng-model="currentPage" max-size="10" class="pagination-sm" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" align="center"></pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
