<div data-ng-controller="HousesController" data-ng-init='getHouse();getArea()'>
  <h2>House List</h2>
	<div class="row">
		<div class="col-xs-6">
			<select
				ng-disabled="loading" 
				data-ng-model="cityId" 
				name="cityInfo" 
				required="required"
				data-ng-options="c.Id as c.name for c in infos.cities"
				class="form-control"
				ng-change="getHouse();getArea(cityId);flag[flagIndex] = false;searchArea='';areaHouse.length=0;">
			</select>
		</div>	
		<div class="col-xs-6">	
			<select
				ng-disabled="loading" 
				data-ng-model="typeId" 
				name="typeInfo" 
				required="required"
				data-ng-options="c.Id as c.name for c in infos.types"
				class="form-control"
				ng-change="getHouse();flag[flagIndex] = false">
			</select>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-3 col-md-1" style="margin-top:2px;" ng-repeat="area in locations">
			<button ng-disabled="loading" 
			        ng-click="changeArea(area);" class="btn btn-warning btn-sm">{{ area }}</button>
		</div>		
	</div>
	<br><br>
	<div class="alert alert-info" data-ng-show="loading">LOADING</div>

  	<div data-ng-show="!loading">
  		<div>
	  		<table class="table table-bordered">
	  			<thead>
	  				<tr>
		  				<th>地址</th>
		  				<th>單價</th>
		  				<th>總價</th>
		  				<th></th>
		  			</tr>	
	  			</thead>
	  			<tbody ng-repeat="house in filterArea(houses, searchArea) | limitTo:searchsize.limit"
	  				   data-hg-init="flag[$index] = false">
			  		<tr>
						<td ng-repeat="(key, value) in filterList(house)">{{ value }}</td>
						<td>
							<button ng-click="flag[$index]=!flag[$index];checkFlagIndex($index)" 
									class="btn btn-primary btn-sm">
									詳細
							</button>
						</td>
					</tr>
					<tr ng-show="flag[$index]">
						<td colspan="4">
							<table class="table table-striped">
								<tr ng-repeat="(key, value) in house">
									<td>{{ key }}</td><td>{{ value }}</td>
								</tr>	
							</table>
						</td>	
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4" align="center">
							<pagination total-items="currentHouses()" ng-model="currentPage" max-size="10" class="pagination-sm" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" align="center"></pagination>
						</td>
					</tr>	
				</tfoot>
			</table>
			
		</div>
	</div>
</div>